body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width : 95%;
    text-align: left;

}
header{
    text-align: center;
}
#elexirs{
    width:25%;
    float: right;
    border: 1px solid #007e7e;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    background: url("../opdracht Coctail Bar/images/cocktail.gif");
    line-height: 1;
    background-repeat: repeat-x;
}
#elexirs h1{
    color: black
}
#elexirs h2{
    color: #cc668b;
}

#content{
    float: left;
    width: 70%;
}
h1{
    color: #007e7e;
    font-size:150% ;
    text-align: center;
}
h2{
    color: #007e7e;
    font-size:130%;

}
#guarantee{
    font-size: 0.9em;
    margin: 30px;
    padding: 20px 20px 20px 60px;
    color: #444444;
    background-color: #a7cece;
    border: dashed white;
    width: 65%;
    background-image: url("./images/background.gif");
    background-repeat: no-repeat;

}
footer {
    font-size: 0.6em;
    text-align: center;
    padding-bottom: 0;
    margin-top: auto;
}
.cursief{
    font-style: italic;
}
.vet{
    font-weight: bold;
}
#music{
    text-align: left;
    width: 70%;
}
a:hover {
    background-color: #7e4731;
}
