body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width : 95%;
    text-align: center;

}
#elexirs{
    width:30%;
    float: right;
    border: 1px solid #007e7e;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    background: url("../opdracht Coctail Bar/images/cocktail.gif");
    line-height: 1;
}
#content{
    float: left;
    width: 70%;
}