h1{
    font-family: Arial, sans-serif;
    font-size: 4em;
    color:darkblue;
}
p{
    font-family: Arial, sans-serif;
    font-size: 1em;
    color:darkblue;
}
a:hover{
    color:purple;
}
.metBackgroundImage a{
    background-image: url('icoontje_hyperlink.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    display: inline-block;
    height: 20px;
    max-width: 100%;
}