body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: auto;
    padding: 3px;
    background-color: floralwhite;
    color: black;
}
table {
    border-collapse: collapse;
    width: 80%;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin:auto;

}

table {
    border: 1px solid rosybrown;
    padding: 10px;
    text-align: center;
}
table.vrienden-tabel tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    background-color: rosybrown;
    color: floralwhite;
    text-transform: uppercase;
}
tbody tr td {
    background-color: floralwhite;
}


tr:hover {
    background-color: #d3e6f5;
}
